<% include partials/header %>

<div class="about">
  <h2>About this site</h2>
  <article>
    This site allows you to review 5 day forecast for any location or city by searching it by name. Forecast is based on <a href="https://openweathermap.org/">OpenWeatherMap</a> information, provided through its API. To view 5 day forecast, just enter name of your city on the main page.
  </article>
</div>

<% include partials/footer %>
